<%- include('partials/header', { title: 'Home Pageree' , cssFile: 'feed.css' }) %>

    <nav>
        <div class="logo">
            <h5>LOGO</h5>

        </div>
        <ul class="navLink">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Projects</a></li>
        </ul>
        <div class="lines">
            <div class="l1"></div>
            <div class="l2"></div>
            <div class="l3"></div>
        </div>
    </nav>

    <header>
        <h1>Pinterest Style Image Galley</h1>
        <h2>with Responsive Navigation Bar</h2>
    </header>

    <div class="container">

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600"
                    alt="Mountain landscape"></a>
            <div class="caption">Mountain Serenity</div>
        </div>


        <div class="box">
            <a href="https://images.unsplash.com/photo-1441974231531-c6227db76b6e?w=600">
                <img src="https://images.unsplash.com/photo-1441974231531-c6227db76b6e?w=600" alt="Forest path"></a>
            <div class="caption">Forest Path</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=600">
                <img src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=600" alt="Beach sunset"></a>
            <div class="caption">Sunset Beach</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1505142468610-359e7d316be0?w=600">
                <img src="https://images.unsplash.com/photo-1505142468610-359e7d316be0?w=600" alt="Water sunset"></a>
            <div class="caption">Water Sunset</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Alpine peaks"></a>
            <div class="caption">Alpine Peaks</div>
        </div>


        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Valley views"></a>
            <div class="caption">Valley Views</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Snowy mountains"></a>
            <div class="caption">Snowy Mountains</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Misty forest"></a>
            <div class="caption">Misty Forest</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Autumn leaves"></a>
            <div class="caption">Autumn Leaves</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Desert dunes"></a>
            <div class="caption">Desert Dunes</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Waterfall rush"></a>
            <div class="caption">Waterfall Rush</div>
        </div>


        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Green meadow"></a>
            <div class="caption">Green Meadow</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Starry night"></a>
            <div class="caption">Starry Night</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Lake reflection"></a>
            <div class="caption">Lake Reflection</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Urban skyline"></a>
            <div class="caption">Urban Skyline</div>
        </div>


        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Golden hour"></a>
            <div class="caption">Golden Hour</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Canyon view"></a>
            <div class="caption">Canyon View</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Tropical beach"></a>
            <div class="caption">Tropical Beach</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Snow peaks"></a>
            <div class="caption">Snow Peaks</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Flowing river"></a>
            <div class="caption">Flowing River</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Forest light"></a>
            <div class="caption">Forest Light</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Coastal rocks"></a>
            <div class="caption">Coastal Rocks</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Dawn break"></a>
            <div class="caption">Dawn Break</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Mountain hike"></a>
            <div class="caption">Mountain Hike</div>
        </div>

        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Forest trail"></a>
            <div class="caption">Forest Trail</div>
        </div>




        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Cloud sky"></a>
            <div class="caption">Cloud Sky</div>
        </div>



        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600" alt="Natural wonder"></a>
            <div class="caption">Natural Wonder</div>
        </div>



        <div class="box">
            <a href="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600">
                <img src="https://images.unsplash.com/photo-1506905925346-21bda4d32df4?w=600"
                    alt="Landscape beauty"></a>
            <div class="caption">Landscape Beauty</div>
        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="app.js"></script>
        <%- include('partials/footer') %>