<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/profile.css">
</head>
<body>
    <div class="container">
    <div class="card">
      <div class="profile-picture">
        <img src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=600" alt="Profile Picture">
      </div>
      <h2 class="name">Useranme</h2>
      <h3 class="username">@username</h3>
      <p class="tagline">Keep going.</p>
      <p class="description">Masih belajar CSS dan HTML.</p>
      <a href="#" class="button">Visit Profile</a>
    </div>
</div>
</body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="stylesheets/profile.css" />
    <title>Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="containerxxx">
      <div class="cardxxx">
        <div class="profile-picture">
          <img
            src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=600"
            alt="Profile Picture"
          />
        </div>
        <h2 class="name">Useranme</h2>
        <h3 class="username">@username</h3>
        <p class="tagline">Keep going.</p>
        <p class="description">Description</p>
        <a href="#" class="button">Account Setting</a>
      </div>
    </div>

    <div class="container">
      <div class="card" style="width: 18rem">
        <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAqDQKZed1ZOUFRGfS3krDE2lWYPTNXNw_Wg&s" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
